[submodule "classlib"]
	path = classlib
	url = git@github.com:fjhickernell/HickernellAcademicLib.git
[submodule "assets/tests/archive"]
	path = assets/tests/archive
	url = git@github.com:fjhickernell/HickernellTestArchive.git
[submodule "qmcpy"]
	path = qmcpy
	url = git@github.com:QMCSoftware/qmcpy.git
	branch = develop
